<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321181927789-o0rddkro0s0oknh56k5c1pdb4adcqcb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321181927789-o0rddkro0s0oknh56k5c1pdb4adcqcb3</string>
	<key>API_KEY</key>
	<string>AIzaSyDaDaRSS-ffa6Vk0f8xtt73bD4ZsTGZSEM</string>
	<key>GCM_SENDER_ID</key>
	<string>321181927789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telegramClone</string>
	<key>PROJECT_ID</key>
	<string>telegramclone-9c564</string>
	<key>STORAGE_BUCKET</key>
	<string>telegramclone-9c564.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321181927789:ios:180f806423a6c20a723264</string>
</dict>
</plist>